@font-face {
    src: url(Main.otf);
}

* {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-font-family: 'Minecraft';
    -fx-font-smoothing-type: lcd;
}

.content {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #efefef, #d9d9d9);
    -fx-padding: 5px 10px;
}

.combo-box {
    -fx-background-color: linear-gradient(to bottom, #efefef, #d9d9d9);
}

.check-box > .box {
    -fx-background-color: linear-gradient(to top, #efefef, #d9d9d9);
    -fx-padding: 2px;
}

.check-box > .box > .mark {
    -fx-shape: "m259 258 46 0 0-46 47 0 0 46 46 0 0 47-46 0 0 46-47 0 0-46-46 0 0-47z";
    -fx-padding: 6px;
}

.progress-bar > .bar {
    -fx-background-color: #323232;
}

.progress-bar > .track {
    -fx-background-color: linear-gradient(to top, #efefef, #d9d9d9);
}

.thumb {
    -fx-background-color: #323232;
}

.scroll-pane {
    -fx-padding: 0px;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.titled-pane > .title, .titled-pane > .title:hover{
    -fx-background-color: #efefef;
    -fx-cursor: HAND;
}

.text-area > .scroll-pane:fitToWidth:fitToHeight > .viewport > .content {
    -fx-padding: 0px;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4px 0px 4px 8px;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill: #323232;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:hover {
    -fx-background-color: #efefef;
    -fx-text-fill: #323232;
}

.combo-box-popup  > .list-view {
    -fx-padding: 0;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-effect: null;
}