@font-face {
    src: url(Main.ttf);
}

.text-field, .text-area {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.text-area {
    -fx-font-size: 12;
}

.content {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #efefef, #d9d9d9);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 5px;
}

.check-box > .box {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 2px;
}

.progress-bar > .bar {
    -fx-background-color: #316650;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.progress-bar > .track {
    -fx-background-color: linear-gradient(to top, #efefef, #d9d9d9);
    -fx-background-radius: 0;
    -fx-background-insets:  0;
}

.text {
    -fx-font-family: 'Minecraft Rus';
}
